.projectContainer {
    width: 60vw;
    height: 30vh;
    margin-bottom: 10%;
}

.projectContainer section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.projectContainer section article {
    width: 28.5vw;
}

.projectContainer .imageProject img{
    width: 100%;
    height: 35vh;
    border-radius: 15px;
}

.projectContainer h3 {
    font-size: 1.5rem;
}

.projectContainer .habilities {
    color: red;
}