@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.projectContainer {
    display: flex;
    height: 55vh;
    border-radius: 10px;
    transition: .2s;
    padding-right: 2%;
    margin-bottom: 10%;
    background: linear-gradient(transparent, transparent, transparent,rgb(0, 29, 49));
}

.projectContainer:last-child {
    margin-bottom: 0;
}

.projectContainer .projectImage {
    width: 70%;
}

.projectContainer .projectImage img {
    width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.projectContainer .projectDetails {
    width: 30%;
    text-align: right;
}

.projectContainer .projectDetails h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 2.3rem;
}

.projectContainer .projectDetails p {
    width: 180%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 15px;
    margin-left: -90%;
    background-color: rgb(0, 29, 48);
}

.projectContainer .projectDetails span {
    color: rgb(85, 177, 238);
    border-radius: 10px;
    font-size: .85rem;
    padding: 6px 14px;
    margin-right: 5%;
    background-color: rgb(20, 66, 97);
}

.projectContainer .projectDetails .last {
    margin-right: 0;
}

.projectContainer .projectDetails a {
    color: rgb(105, 195, 255);
    text-decoration: none;
}

.projectContainer .projectDetails button{
    margin-top: 10%;
    border: none;
    outline: none;
    padding: 10px 20px;
    transition: .2s;
    border-radius: 15px;
    cursor: pointer;
}

.projectContainer .projectDetails .buttonDemo {
    margin-left: 20px;
    background-color: transparent;
    color: rgb(85, 177, 238);
    border: solid 1px rgb(85, 177, 238);
}

.projectContainer .projectDetails .buttonRepository {
    margin-left: 20px;
    background-color: #09f;
    border: solid 1px #09f;
}

.projectContainer .projectDetails .buttonRepository:hover {
    background-color: rgb(0, 92, 153);
    border: solid 1px rgb(0, 92, 153);
}

.projectContainer .projectDetails a .buttonRepository  {
    color: white;
}

.projectContainer .projectDetails .buttonDemo:hover {
    background-color: rgb(35 110 160 / 20%);
}

.projectContainer p {
    margin-bottom: 10%;
}

.fatherProjects .light h2{
    color: #333;
}

.fatherProjects .light p {
    background-color: #ddd;
    color: black;
}

.fatherProjects .light span {
    background-color: #ddd  ;
    color: rgb(0, 153, 255);
}

.fatherProjects .light .projectContainer{
    background: linear-gradient(transparent, transparent, transparent,rgb(0, 115, 192));
}