.projectsContainer {
    margin-top: 15%;
    color: #eee;
    background-color: #051725;
    padding: 5% 10%;
}

.projectsContainer h1 {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 5%;
    text-align: center;
}

.fatherProjects .light {
    background-color: white;
}

.fatherProjects .light h1 {
    color: #222;
}

@media (max-width:729px) {
    .projectsContainer h1 {
        font-size: 2rem;
    }

}