.patherProjects {
    width: 100vw;
    height: 100vh;
    margin-bottom: 15%;
}

.projectsContainer {
    width: 75vw;
    height: 75vh;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10%;
    position: relative;
    display: flex;
    transition: .3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.projectsContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, black, transparent, transparent);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.projectsContainer section .projectsOp {
    height: fit-content;
    margin-top: 5%;
}

.projectsContainer section article {
    width: 80%;
    margin: 0 auto;
}

.projectsContainer * {
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
}

.projectsContainer .detailsArrows {
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
    align-items: center;
}

.projectsContainer .detailsArrows .text {
    font-size: 1rem;
    font-weight: 700;
    color: #ccc;
    letter-spacing: 6px;
}

.projectsContainer .detailsArrows h1 {
    color: white;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.projectsContainer .detailsArrows .description {
    width: 75%;
    line-height: 1;
    text-wrap: pretty;
    color: #bbb;
}

.projectsContainer .detailsArrows .links {
    margin-top: 2%;
    border: none;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 50px;
    border: solid 1px rgb(190, 229, 255);
    color: rgb(190, 229, 255);
    cursor: pointer;
    transition: .4s transform;
    background-color: transparent;
}

.detailsArrows .links:hover {
    transform: scale(0.95);
    background-color: rgb(190, 229, 255);
    color: black;
}

.detailsArrows .buttonsChange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 5vw;
    min-width: 5vw;
}

.detailsArrows .buttonsChange .change {
    width: 2.2vw;
    height: 2.2vw;
    border: none;
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.buttonsChange .change:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.projectsOp {
    display: flex;
}

.projectsOp .divProject {
    margin-right: 2vw;
}

.projectsContainer .habilitie {
    background-color: rgba(0, 153, 255, 0.3);
    margin: 0 .2vw;
    color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: .6rem;
}

.detailsArrows .quantity {
    background-color: #222;
    font-size: .8rem;
    color: #eee;
    margin-left: 1vw;
    border-radius: 30px;
    padding: 3px 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    width: 6%;
    opacity: .7;
    height: fit-content;
}