---
import Layout from "../layouts/Layout.astro";
import yourhiring from "../../public/pics/projects/zaporta_desktop.jpeg";
---

<Layout title="test projects">
    <div class="w-full place-items-center justify-center min-h-screen">
        <img src={yourhiring.src} />
    </div>
</Layout>

<style>

    :root {
        --light: white;
        --dark: red;
    }
    div {
        background: linear-gradient(var(--light), var(--dark));
        padding-top: 30px;
    }
    img {
        width: 80vw;
        height: 80vh;
        box-shadow: 0px 50px 200px var(--dark);
        border-radius: 20px;
    }
</style>
