---
import Layout from "../layouts/Layout.astro";
import shopzone_phone from "../../public/pics/projects/shopzone2.jpeg";
---

<Layout title="test projects">
    <div class="w-full place-items-center justify-center min-h-screen">
        <img src={shopzone_phone.src} />
    </div>
</Layout>

<style>
    div {
        background: linear-gradient(#29007a, #0e002b);
        padding-top: 30px;
    }
    img {
        box-shadow: 0px 50px 200px black;
        border-radius: 20px;
    }
</style>
