---
import perfil from "../../../public/pics/perfil.jfif";
---

<article class="profile-container flex gap-x-4 items-center w-fit">
    <a
        class="rounded-full"
        href="https://www.linkedin.com/in/diego-martins-563954278/"
        target="_blank"
    >
        <img src={perfil} class="w-[50px] h-[50px] rounded-full" />
    </a>
    <div>
        <h5 class="text-[#aaa] font-bold">Diego Martins</h5>
        <h6 class="text-[#999] text-[15px]">Software developer</h6>
    </div>
</article>
