---
import { techs } from "../data/tech";
import Tech from "./Tech.astro";
import TitleSection from "./TitleSection.astro";
---

<section
    id="stack"
    class="my-50 mt-50 mb-20 py-20 max-h-fit flex place-items-center flex-col"
>
    <article>
        <TitleSection title="Stack" />
        <div class="stack-container gap-7 mt-20">
            {
                techs.map((tech) => {
                    const { name, icon, color } = tech;
                    return <Tech name={name} icon={icon} color={color} />;
                })
            }
        </div>
    </article>
</section>

<style>
    .stack-container {
        width: 45vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media (max-width: 430px) {
        #stack {
            height: fit-content;
        }
        .stack-container {
            width: 90vw;
        }
    }
    @media (min-width: 431px) and (max-width: 1024px) {
        .stack-container {
            width: 80vw;
        }
        #stack {
            margin-top: 20vh;
        }
    }
    @media (min-width: 1025px) and (max-width: 1366px) {
        .stack-container {
            width: 60vw;
        }
    }
</style>
