.patherPresentation {
    height: 85vh;
}

.presentationContainer {
    margin-top: 10%;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.presentationContainer h1 {
    color: white;
    font-size: 4.5rem;
    line-height: 1;
    color: #eee;
    margin-bottom: 0;
}

.presentationContainer h2 {
    color: rgb(0, 153, 255);
    font-size: 1.5rem;
    margin-top: 1%;
    height: 3vh;
    margin-bottom: 1%;
}

.presentationContainer p {
    color: #aaa;
    margin-top: 2%;
    font-weight: 200;
    width: 75%;
    font-size: 1rem;
    margin-bottom: 1.5%;
}

.presentationContainer button {
    padding: 17px 30px;
    border: none;
    border-radius: 40px;
    background-color: #09f;
    color: white;
    cursor: pointer;
    outline: none;
    transition: .2s;
}

.presentationContainer button:hover {
    background-color: rgb(56, 175, 255);
}

.presentationContainer .namePresentation {
    width: 65%;
}

.presentationContainer .imagePresentation {
    width: 35%;
    height: 100%;
}

.presentationContainer .detailsPresentation {
    display: flex;
    align-items: center;
}

.presentationContainer a {
    color: #ccc;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 3%;
    transition: .2s;
}

.presentationContainer a:hover {
    color: white;
}

.presentationContainer .imagePresentation {
    text-align: center;
}

.presentationContainer .imagePresentation img {
    width: 80%;
    height: 80%;
    border-radius: 48% 52% 55% 45% / 31% 48% 52% 69%;
    border: solid 10px #09f;
    transition: .3s;
    animation: changeBorderRadius 17s infinite;
    /* 3 segundos para cada estado, se repite infinitamente */
}

@keyframes changeBorderRadius {
    0%, 100% {
        /* Comentario: Estado inicial y final */
        border-radius: 48% 52% 55% 45% / 31% 48% 52% 69%;
    }

    25% {
        /* Comentario: Primer conjunto aleatorio */
        border-radius: 50% 50% 72% 28% / 48% 56% 44% 52%;
    }

    50% {
        /* Comentario: Segundo conjunto aleatorio */
        border-radius: 57% 43% 72% 28% / 33% 74% 26% 67%;
    }

    75% {
        /* Comentario: Tercer conjunto aleatorio */
        border-radius: 50% 50% 72% 28% / 48% 56% 44% 52%;
    }

    30% {
        /* Comentario: Cuarto conjunto aleatorio */
        border-radius: 60% 40% 55% 45% / 25% 65% 35% 75%;
    }

    60% {
        /* Comentario: Quinto conjunto aleatorio */
        border-radius: 40% 60% 50% 50% / 60% 40% 55% 45%;
    }

    90% {
        /* Comentario: Sexto conjunto aleatorio */
        border-radius: 55% 45% 40% 60% / 75% 25% 65% 35%;
    }

    15% {
        /* Comentario: Séptimo conjunto aleatorio */
        border-radius: 65% 35% 50% 50% / 40% 60% 50% 50%;
    }
}

.patherPresentation .light h1 {
    color: #222;
}

.patherPresentation .light p {
    color: black;
}

.patherPresentation .light a .links {
    color: #666;
    transition: .2s;
}

.patherPresentation .light a .links:hover {
    color: #444;
}