.experienceContainer {
    width: 40%;
    margin: 0 auto;
    margin-top: 0;
    color: #eee;
    margin-bottom: 5%;
}

.experienceContainer h1 {
    margin-bottom: 0;
    text-align: center;
    font-style: italic;
}

.experienceContainer h1 i {
    color: #09f;
    padding-left: 5px;
}

.fatherExperience .light h2 {
    color: #333;
    font-style: italic;
    font-weight: 500;
}

.fatherExperience .light strong {
    color: #09f;
}

.fatherExperience .light p {
    color: #888;
}

.fatherExperience .light small {
    color: rgb(0, 68, 114);
}

.fatherExperience .light h1 {
    color: #222;
}

@media (max-width:729px) {
    .experienceContainer {
        width: 80%;
        text-align: center;
        padding: 5% 10%;
    }
}

@media (max-width:1000px) {
    .experienceContainer {
        width: 80%;
        text-align: center;
        padding: 5% 10%;
    }
}